h2 { color:#ffffff; font-family: 'Lucida Sans Unicode',sans-serif; text-align: center;padding:10px }


h5 { color: #ffffff; font-family: 'Lucida Sans Unicode',sans-serif; font-size: 20px; font-weight: 800; margin: 0 0 10px; }


p { line-height: 1.2; color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500;  margin: 0 0 24px;}


a { color: #ffffff; text-decoration: underline; }
.bold{font-size: 20px}

a:hover { color: #ffffff; text-decoration: underline; }