
	
	  @media (max-width: 1024px) {
		.photobox {
		  display: none;
		}
	  }
	
	
	  @media only screen and (min-width: 1536px) {
		.img {
		  height: 500px;
		}
	  }
	  
	  /* For screens with a width of 1280px */
	  @media only screen and (max-width: 1024px) and (min-width: 1280px) and (max-width: 1535px) {
		.img {
			height: 400px;
		}
		.descriptiongrid{  width: 400px;}
	  }