.boxxF{
  background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
   }
   .mainF{
    background-color:#ffffff69;
    box-shadow:0 8px 32px rgba(31,28,135,0.37) ;
    backdrop-filter: blur(8.5px);
    border-radius:10px;
    letter-spacing:0ch.3rem;
    height:50vh ;
    width: 50vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
   
    }
    