
.ph{ background-color: white;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;    }





.title1 {
  font-family:Proxima Nova , Verdana , Avenir Next;
  margin-bottom: 10px;
    font-size:20px;
    font-weight: 700;
    color: #2D033B;
 
  }.title2 {
    font-size: 70px;
    font-family:Proxima Nova , Verdana , Avenir Next;
    font-weight: 1000;
    color: #2D033B;
  
  }